:root {
  --primary-color: white;
  --light-color: rgb(64, 100, 245);
  --dark-color: rgb(0, 27, 132);
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
}

.selectTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--dark-color);
  border-right: 1pt solid var(--dark-color);
  padding: 0 1rem;
}

/* upload tab */
.uploadTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  border: 1pt solid var(--dark-color);
  border-radius: 5pt;
  margin: 2rem 0rem;
}

.uploadTab input[type="file"] {
  color: var(--dark-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.7rem;
}

.uploadTab input[type="file"]::file-selector-button {
  color: var(--light-color);
  border: 1pt solid var(--light-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.7rem;
  margin-right: 1rem;
  transition: color 0.2s ease, border 0.2s ease;
}

.uploadTab input[type="file"]::file-selector-button:hover {
  color: var(--dark-color);
  border: 1pt solid var(--dark-color);
}

/* get tab */
.getTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  border: 1pt solid var(--dark-color);
  border-radius: 5pt;
}

select {
  color: var(--dark-color);
  border: 1pt solid var(--dark-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.7rem;
  margin: 0.5rem;
  cursor: pointer;
}

/* display tab */
.displayTab {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

table {
  width: 100%;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  border-collapse: collapse;
  border: 1pt solid;
}

thead th {
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 0.5pt solid;
}

th {
  border-collapse: collapse;
  border-right: 0.5pt solid;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.1rem 0;
}

label {
  color: var(--dark-color);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

button, input {
  color: var(--light-color);
  border: 1pt solid var(--light-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.7rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: color 0.2s ease, border 0.2s ease;
}

button:hover, input:hover {
  color: var(--dark-color);
  border: 1pt solid var(--dark-color);
}